.thank-you-header {
  background-color: rgba(34, 34, 34, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.thank-you-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: #c3c3c34a;
}

.thank-you-text {
  font-size: 2em;
  color: #4d4d4d;
  padding: 1rem;
  text-align: center;
  line-height: 1.5em;
}

.back-button {
  text-decoration: none;
  border: none;
  background: #6d6d6d;
  height: 40px;
  max-width: 200px;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin: 1rem;
}

.back-button:hover {
  background: #969595;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 0;
  font-size: 0.8em;
  border-top: 4px solid #969595;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  padding: 0.5rem;
}
