html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: fixed;
  z-index: 1000;
  height: 100px;
  width: 100%;
  transition: 0.5s all cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  background-color: rgba(34, 34, 34, 0.8);
}

.header-section {
  position: relative;
  height: 750px;
  background-image: url('/assets/hero.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.kids-section {
  position: relative;
  height: 400px;
  background-image: url('/assets/kids-banner.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-active {
  background: transparent;
}

.header-initial {
  background: transparent;
}

.logo {
  padding: 1rem;
}

.menu-item {
  max-width: 60px;
  padding: 1rem;
  cursor: pointer;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.75rem;
}

.blue-triangle {
  position: absolute;
  right: 0;
  bottom: 0%;
  transition: 0.75s all cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 400px;
  visibility: hidden;
  opacity: 0;
}

.blue-triangle-active {
  visibility: visible;
  opacity: 1;
}

.blue-triangle-mid {
  position: absolute;
  left: 0;
  top: 70%;
  transition: 0.75s all cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 300px;
  visibility: hidden;
  opacity: 0;
  transform: rotate(180deg);
}

.blue-triangle-mid-active {
  visibility: visible;
  opacity: 1;
}

.yellow-triangle {
  position: absolute;
  left: -600px;
  top: 20%;
  transition: 0.75s all cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 200px;
}

.yellow-triangle-initial {
  left: -600px;
}

.yellow-triangle-active {
  left: 0;
}

.orange-triangle {
  position: absolute;
  right: -500px;
  top: -10%;
  transition: 0.75s all cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 250px;
}

.orange-triangle-active {
  right: 0;
}

.explore-section {
  margin: 1rem 0 3rem;
}

.triangles {
  width: 100%;
  height: 100%;
  position: relative;
}

.explore-wrapper {
  display: flex;
}

.explore-post-image {
  flex: 1;
  object-fit: cover;
}

.explore-text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.explore-post-title {
  text-align: center;
  font-size: 1em;
  color: #c7c7c7;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.explore-post-excerpt {
  color: #c7c7c7;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
  padding: 0.75rem 2rem;
}

.explore-post-button {
  max-width: 100;
  padding: 0.5rem;
  font-size: 0.75em;
  margin: 0.5rem auto;
  border: 1px solid#c7c7c7;
  color: #c7c7c7;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.kids-button {
  border: 1px solid#fff;
  color: #fff;
}

.explore-post-button:hover {
  background-color: #686767;
}

.explore-post {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 333px;
  margin: 1rem auto;
  background-color: #4d4d4d !important;
  box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.5);
}

.facility-post {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;
  margin: 1rem auto;
  background-color: #e8e8e8;
  transition: 0.195s transform cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.facility-post:hover {
  transform: scale(1.05);
}

.facility-post-image {
  flex: 85;
  object-fit: cover;
}

.facility-post-title {
  flex: 15;
  display: flex;
  flex-direction: column;
  color: #4d4d4d;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.6em;
  line-height: 2em;
}

.explore-list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.venue-description {
  padding: 3rem;
  text-align: center;
  font-size: 2em;
  color: #969595;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  max-width: 900;
}

.long-description {
  padding: 3rem 2rem;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #4d4d4d;
}

.venue-description-wrapper {
  display: flex;
  justify-content: center;
}

.skewed-bg {
  background-color: #2d2d2d;
  opacity: 0.8;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 65%;
  display: flex;
  justify-content: center;
}

.skewed-bg::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 25%;
  transform: skewX(-15deg);
  background-color: inherit;
  z-index: -1;
}

.kids-section-text-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kids-section-text {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 4em;
}

.top-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
}

.mid-text {
  font-family: 'Mort Modern Medium';
  font-size: 7em;
}

.bottom-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
  padding: 0.5rem 1rem;
  line-height: 2em;
}

.menu {
  flex: 1;
  border-right: 1px dashed #c7c7c7;
  justify-content: space-between;
  display: flex;
  padding: 1rem 3rem 1rem 1rem;
  flex-wrap: wrap;
}

.menu-title {
  padding: 1rem 0;
  font-weight: 600;
  font-size: 0.9em;
}

.menu-el {
  padding: 0.5rem 0;
  font-size: 0.8em;
}

.contact-section {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1300px;
  flex-wrap: wrap;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: #969595;
}

.error {
  color: rgb(209, 2, 2);
  font-size: 0.75em;
  padding: 0.5rem 0;
}

.input-element-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 2rem 2rem 3rem;
}

.input {
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #c7c7c7;
  padding: 0.5rem;
  font-size: 1em;
  margin: 0.5rem 0.5rem 0.5rem 0;
  outline: none;
}

.input-label {
  font-size: 0.75em;
  line-height: 1em;
}

.input-small-label {
  color: #969595;
  font-size: 0.75em;
}

.contact-us-title {
  font-size: 1.4em;
  color: #ffca37;
}

.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 4;
}

.email-input-wrapper {
  flex: 2;
}

.input-element-wrapper {
  flex: 1;
  margin: 0.5rem 0;
}

.form {
  display: flex;
  align-items: flex-end;
}

.submit-button {
  flex: 1;
  border: none;
  background: #969595;
  height: 40px;
  max-width: 75px;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submit-button:hover {
  background: #6d6d6d;
}

.last-name {
  visibility: hidden;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem 0;
  font-size: 0.8em;
  border-top: 4px solid #969595;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  padding: 0.5rem;
}

.form-message-success {
  color: green;
  display: none;
}

.form-message-active {
  display: block !important;
}

.form-message-error,
.form-message-not-valid {
  color: red;
  display: none;
}

@media screen and (min-width: 40em) {
  .blue-triangle {
    max-width: 700px;
    bottom: -10%;
  }

  .yellow-triangle {
    max-width: 400px;
  }

  .orange-triangle {
    max-width: 400px;
    top: -10%;
  }

  .blue-triangle-mid {
    max-width: 700px;
    top: 0%;
  }

  .facility-post {
    width: 500px;
    height: 350px;
  }

  .skewed-bg {
    width: 45%;
  }

  .long-description {
    padding: 3rem 6rem;
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 75em) {
  .kids-section-text-wrapper {
    flex-direction: row;
  }

  .facility-post {
    width: 600px;
    height: 400px;
  }

  .blue-triangle {
    max-width: 800px;
  }

  .yellow-triangle {
    max-width: 600px;
    top: 15%;
  }

  .orange-triangle {
    max-width: 500px;
    top: -15%;
  }

  .blue-triangle-mid {
    max-width: 900px;
    top: -10%;
  }

  .kids-section {
    height: 400px;
  }

  .skewed-bg {
    width: 30%;
  }
}
